/* IMPORT */

@import 'reset';
@import 'fonts';

/* VARIABLES */

$tablet-width: 600px;
$desktop-width: 1000px;

/* BREAK POINTS - MIXINS */

/* 600px */

@mixin tablet {
  @media all and (min-width: $tablet-width) {
    @content;
  }
}
/* 1000px */

@mixin desktop {
  @media all and (min-width: $desktop-width) {
    @content;
  }
}

/* GENERAL */

* {
   box-sizing: border-box;
   outline: none;
}

body {
    font-size:16px;
    color: #ffffff;
    font-family:'Open Sans';
    font-weight: normal;
    font-style: normal;
    line-height: 2;
    background-color: #000;
}

.container {
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

/* HEADER */

/* flex parent */
.insta-header {
    height: 90vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    @include tablet {
    flex-wrap:nowrap;;
      }
    //
     @include desktop {
       justify-content:flex-start;
     }
}

/* flex item/child of insta-header */
.insta-logo {
  max-width: 300px;
  display:flex;

  @include tablet {
    max-width:250px;
    margin: 0 1rem;
    }
}

/* flex item/child of insta-logo */
.insta-logo img {
  max-width: 100%;

  @include tablet {
     //code in here
   }

   @include desktop {
     //code in here
   }

}

/* flex item/child of insta-header */
.search-form {
  max-width: 300px;
  display:flex;

  @include tablet {
    flex-direction: column;
    align-items: center;
    justify-content:center;
    max-width:250px;
    margin: 0 1rem;
   }
}

/* flex item/child of search-form */
.search-form-contents {
  max-width: 300px;
  border-bottom: 1px solid #ffffff;

  @include tablet {
    max-width:250px;
    display:inline-flex;
   }

}

.search-form-contents::before {
  content: "#";
  color: #ffffff;
  background-color: #000;
  font-size: 1.4rem;
  padding-right: 0.5rem;

}

.search-form-contents input {
  color: #ffffff;
  background-color: #000;
  border:none;
  font-family:'Open Sans';
  font-size: 1.1rem;

}

button {
  background-color: #000;
  border:none;
}

.search-form-contents span {
  color: #ffffff;
  background-color: #000;
  font-size: 1.1rem;
  padding-left: 1.75rem;

  &:hover {
    color: #e2231a;
  }
}

/* INSTAGRAM PHOTOS */

.instagram-uploads {
    margin: 0 auto;
    width: 100%;
}

.photos {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  margin-bottom:2rem;
}

.photos li {
width: 100%;
display:flex;
}

.ig-photo-wrap {
  position:relative;
  max-width: 100%;
  display:flex;
}

.ig-specs {
  position:absolute;
  background:rgba(0,0,0,0.6);
  color: #ffffff;
  display:flex;
  bottom: 0;
  font-size: 1rem;
  padding::0.5rem;
  max-width: 100%;
  align-content: center;
}

.profile-pic-wrap {
 height:auto;
 overflow:hidden;
 width:33%
}

.profile-pic-wrap img {
  border-radius: 50%;
  max-width: 80px;
  max-height:80px;
}

.ig-social-wrap {
  font-weight: 700;
  text-align: right;
  width: 67%;
  line-height: 1.75rem;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1.35rem;
}

.ig-social-wrap span {
  margin: 0 0.3rem;
}

/* FOOTER */

.insta-footer {
  height: 10vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: #c2c2c2;

  @include desktop {
    justify-content:flex-start;
  }
}
