/* IMPORT */

@import 'reset';
@import 'fonts';
@import 'mixins';
@import 'header';
@import 'photos';
@import 'footer';

/* GENERAL */

* {
   box-sizing: border-box;
   outline: none;
}

body {
    font-size:16px;
    color: #ffffff;
    font-family:'Open Sans';
    font-weight: normal;
    font-style: normal;
    line-height: 2;
    background-color: #000;
}

.container {
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}
